@charset "UTF-8";
.body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
  }


  .html, .body, .header, .main, .footer {
    margin: 0;
    padding: 0;
  }
  
  /* Set full height for HTML and body */
  .html, .body {
    height: 100%;
  }
  
  /* Set full height for main content */
  .main {
    min-height: 80vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-holder {
    width: 10%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
  
  /* Example styling for header and footer */
  .header {
    background-color: cornflowerblue;
    text-align: center;
    padding: 20px 0;
    align-items: center;
  }
  
  .footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-color: cornflowerblue;
    display: flex;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    background: green;
    color: white;
  }

  .grid {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
  }
  .square {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
  }
  
  .block:hover {
    cursor: pointer;
    background: #0ff30f;
  }

.chat {
    width: 150%;
    background-color: #146C94;
    padding: 20px;
}

.chat-form {
    height: 30px;
}

#chat-messages {
    max-height: 300px;
    height: 90%;
    overflow: scroll;
}

#block1, #block2, #block3 {border-top: none;}

#block1, #block4, #block7 {border-left: none;}

#block7, #block8, #block9 {border-bottom: none;}

#block3, #block6, #block9 {border-right: none;}