<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body onload="display();welcome();">
    <div class = "header"> 
      <h1>Let's Play Tic Tac Toe!</h1>
      <button id="theme-toggle">Toggle Dark Mode</button>

    </div>
    <div class="main">
      <div class="col">
        <div>
          <p> Online Users: </p>
          <p id="OnlineUsers"></p>
        </div>
      </div>

      <div class="col">
        <h2 id="popUpText" class="popUpText"></h2>
        <div class="grid-holder">
          <div class="grid">
            <div id="block1" class="square" onClick="blockSelect(1)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block2" class="square" onclick="blockSelect(2)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block3" class="square" onclick="blockSelect(3)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block4" class="square" onclick="blockSelect(4)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block5" class="square" onclick="blockSelect(5)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block6" class="square" onclick="blockSelect(6)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block7" class="square" onclick="blockSelect(7)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block8" class="square" onclick="blockSelect(8)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
            <div id="block9" class="square" onclick="blockSelect(9)"> <h1 class="x">X</h1> <h1 class="o">O</h1> </div>
          </div>
          </div>
            <button id = "StartButton" onclick="new_game()">Start Game</button>  
      </div>

      <div class="col">
        <div class="chat-holder">
          <div class="chat">
            <div id="chat-messages"></div>
            <div class="chat-form">
              <hr />
              <label>
                Chat:
                <input id="chat-text-box" type="text" />
              </label>
              <input id="xsrf" type="hidden" name="xsrf_token" value="{{ xsrf_token }}" />
                <button id="chat-button" onclick="sendChat()">Send</button>
              </p>
            </div>
  
          </div>
          <form action="/upload-image" method="post" enctype="multipart/form-data">
          </label>
                Upload Photo:
          </label> 
            <input type="file" name="chatImage" accept=".jpg, .jpeg, .png, .gif">
            <input type="submit" value="Upload">
          </form>
  
          <form id="video-upload-form" action="/upload-video" method="post" enctype="multipart/form-data">
            <label>
                Upload Video:
            </label>
            <input id="video-input" type="file" name="chatVideo" accept="video/mp4">
            <input type="submit" value="Upload">
        </form>
        <div class="chat">
          <div id="chat-messages2"></div>
        </div>

      </div>
      </div>


      </div>
    </div>


    <div class="footer">
      <form
        action="/logout"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <input type="submit" value="Logout" />
      </form>
      <p id="usernameHolder"></p>
    </div>

    <div class="contents">

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>



    <script src="/static/home.js"></script>
  </body>
</html>
